<h1>About us</h1>
<p>Dan here and I am working on my One Month Rails Project</p>

<p>I have decided to no longer say, "I wish I could code." This page and this statement is to confirm my willingness to do what it takes to learn what needs to be learned!</p>
